.rewardshopback .header {
    margin-left: 250px !important;
}

.collection-product-container {
    display: flex;
}

.content {
    flex: 1;
    padding: 20px;
}

.data-grid-container {
    width: calc(100% - 250px);
    padding: 20px;
    overflow-x: auto;
}

.rewardshopback .table-container {
    width: 95%;
    margin-left: 250px !important;
}

.MuiDataGrid-root {
    width: calc(100% - 250px);
}

.savebutton,
.cancelbutton {
    margin-top: -10px !important;
    margin-bottom: 10px !important;
}

.cancelbutton {
    margin-right: 20px !important;
}

@media (max-width: 960px) {
    .collectionitem, .search {
        margin-left: -240px !important;
    }

    .rewardshopback .table-container {
        width: 120% !important;
        margin-left: 20px !important;
    }
}

@media (max-width: 500px) {
    .rewardshopback .table-container {
        width: 140% !important;
    }

    .itemfilter, .filtercollection {
        margin-top: 80px !important;
    }

    .filtercollection {
        margin-left: -320px !important;
    }
}