.rewardshopback .header {
    margin-left: 250px !important;
}

.collection-product-container {
    display: flex;
}

.content {
    flex: 1;
    /* Take remaining width */
    padding: 20px;
}

.data-grid-container {
    width: calc(100% - 250px);
    /* Adjust width based on sidebar width */
    padding: 20px;
    overflow-x: auto;
    /* Enable horizontal scroll if needed */
}

.rewardshopback .table-container {
    width: 95%;
    margin-left: 250px !important;
}

.MuiDataGrid-root {
    width: calc(100% - 250px);
    /* Adjust width based on sidebar width */
}

/* .filtercollection {
    margin-top: -55px !important;
    margin-left: -200px !important;
} */

@media (max-width: 960px) {
    .collectionitem, .search {
        margin-left: -240px !important;
    }

    .rewardshopback .table-container {
        width: 120% !important;
        margin-left: 20px !important; /* Move the table to the left */
    }
}

@media (max-width: 500px) {
    .rewardshopback .table-container {
        width: 140% !important;
    }
}