/* back */
.back img{
    margin-left: 20px;
}

/* balance */
.balance p {
    text-align: center;
}

/* balance */
.summary a {
    color: #14772B;
    font-weight: bold;
}

/* divider */
.divider {
    margin: 20px auto;
    border: none;
    border-top: 5px solid #14772B;
    width: 80%;
}

/* shop */
.shop {
    margin-bottom: 50px;
}

.products h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.product-item p {
    font-size: 20px;
}

/* Responsive design for mobile devices */
@media (max-width: 960px) {
    .headbanner h1 {
        width: 90%;
        font-size: 6vw;
    }

    .balance h1,
    .shop h1 {
        width: 90%;
        font-size: 4vw;
    }

    .products {
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-item {
        margin: 10px;
        max-width: 300px;
    }

    .product-item img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    .product-item h2 {
        font-size: 2.5vw;
    }

    .product-item p {
        font-size: 2vw;
    }

}

@media (max-width: 500px) {
    .balance h1,
    .shop h1 {
        width: 90%;
        font-size: 6vw;
        margin-top: 20px;
    }

    .shop h1 {
        margin-bottom: 10px;
    }

    .products {
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-item {
        margin: 10px auto;
        max-width: 300px;
    }

    .product-item img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    .product-item h2 {
        font-size: 4vw;
    }

    .product-item p {
        font-size: 3vw;
    }

}