/* back */
.back {
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
}

.back img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.back p {
    margin-top: 12px;
    margin-left: 10px;
}

.back p a {
    color: black;
    text-decoration: none;
}

.back p a:hover {
    color: #14772B;
    text-decoration: underline;
}

/* product */
.product-details {
    margin-left: auto;
    text-align: center;
    width: 300px;
}

.product-details h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.product-details img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 10px auto;
    border: 5px solid #14772B;
}

.product-details p {
    margin: 10px 0;
}

/* form */
.rewardform .MuiInputBase-input {
    width: 320px !important;
    font-size: 0.875rem !important;
    padding: 8px 12px !important;
    border-radius: 8px !important;
    color: #000 !important;
    border: 1px solid #ccc !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1) !important;
}

.rewardform .MuiInputBase-input:hover {
    border-color: #14772B !important;
}

.rewardform .MuiInputBase-input:focus {
    outline: 0 !important;
    border-color: #2196f3 !important;
    box-shadow: 0 0 0 1px #14772B !important;
}

.asterisk {
    color: red;
}

/* form layout */
.form-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.product-details, .form-fields {
    flex: 1 1 45%;
    margin: 10px;
}

.product-details img.product-image {
    width: 40%;
    height: auto;
}

label {
    align-self: flex-start;
}

/* detail */
.collection-detail p{
    text-align: left;
}

.collection-detail h2 {
    text-align: left;
    margin-top: 10px;
    font-size: 24px;
    color: black;
}

/* button */
.submitbutton {
    background-color: #14772B;
    color: white;
    padding: 14px 40px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    display: block;
    margin-left: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.submitbutton a {
    color: white;
    text-decoration: none;
}

.submitbutton:hover {
    background-color: #45a049;
}

/* detail */
.detail {
    margin-top: 20px;
}

/* validation error */
.error-message {
    color: red;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
}

/* Responsive design for mobile devices */
@media (max-width: 960px) {
    .product-details h2 {
        padding-left: 240px;
    }

    .collection-detail h2 {
        padding-left: 240px;
        font-size: 2vw;
    }

    .collection-detail p {
        font-size: 1.5vw;
    }

    .checkboxes-container {
        margin-right: -80px;
    }

    .submitbutton {
        margin-left: 0px;
    }
}

@media (max-width: 500px) {
    .form-section {
        display: block;
    }

    .product-details img.product-image {
        width: 40%;
        height: auto;
        margin-left: 140px;
    }

    .product-details h2 {
        padding-left: 350px;
        font-size: 4vw;
    }

    .product-details p {
        padding-left: 120px;
    }

    .collection-detail h2 {
        padding-left: 250px;
        font-size: 4vw;
    }

    .collection-detail p {
        text-align: center;
        padding-right: 20px;
        font-size: 3vw;
    }

    .checkboxes-container {
        margin-right: -100px;
    }

    .submitbutton {
        font-size: 3vw;
        margin-left: 150px;
        padding: 10px 20px;
    }
}