/* title */
.header {
  text-align: left;
}

/* table */
.data-grid {
  width: 70% !important;
  margin-left: 250px !important;
  margin-top: 30px !important;
  height: 400px !important;
}

/* button */
.addnewproductbutton {
  position: absolute;
  left: 480px;
  background-color: #14772B !important;
  color: white !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.addbutton,
.editbutton,
.savebutton,
.viewbutton,
.closebutton,
.deletebutton {
  background-color: #14772B !important;
}

.addbutton,
.savebutton {
  margin-top: 20px !important;
  margin-left: 70px !important;
}

.deletebutton {
  margin-top: 20px !important;
}

.addbutton {
  margin-top: 20px !important;
  margin-left: 120px !important;
}

.cancelbutton {
  background-color: red !important;
  margin-top: 20px !important;
  margin-left: 10px !important;
}

/* popup */
.popup {
  color: #14772B !important;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 10px;
}

/* table shadow */
.data-grid {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 960px) {
  h2, .search {
    margin-left: -240px !important;
  }

  .data-grid {
    width: 95% !important;
    margin-left: 20px !important;
  }

  .addnewproductbutton {
    left: 380px;
  }
}

@media (max-width: 500px) {
  .data-grid {
    width: 95% !important;
    margin-left: 10px !important;
  }

  .addnewproductbutton {
    left: 155px;
  }
}