body {
    overflow-x: hidden;
}

/* banner */
.headbanner {
    position: relative;
    width: 100%;
    height: 400px;
    /* Fixed height for the banner */
    text-align: center;
    margin-bottom: 50px;
    overflow: hidden;
    /* Hides any overflowed parts of the image */
}

.headbanner img {
    width: 100%;
    height: 110%;
    object-fit: cover;
    /* Ensures the image covers the entire container */
}

.headbanner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: black;
    /* Ensure the text is readable on the banner */
    margin: 0;
    padding: 0 10px;
    /* Optional: Adds some padding to prevent text from touching edges */
}

.headbanner h1 {
    color: #14772B;
    text-shadow: 2px 2px #91E1A3;
    font-size: 50px;
}

/* banner FOR REWARD */
.rewardbanner {
    position: relative;
    width: 100%; /* Change to 100% to make it responsive */
    height: auto; /* Set height to auto to maintain aspect ratio */
    text-align: center;
    margin-bottom: 50px;
    overflow: hidden;
    max-width: 1520.4px; /* Set the max-width to the original width */
}

.rewardbanner img {
    width: 100%;
    height: auto; /* Set height to auto to maintain aspect ratio */
    object-fit: cover;
}

/* banner for ABOUT US */
.aboutbanner {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    overflow: hidden;
    /* Hides any overflowed parts of the image */
}

.aboutbanner img {
    width: 100%;
    height: 110%;
    object-fit: cover;
    /* Ensures the image covers the entire container */
}

/* greenreward */
.greenreward {
    margin-bottom: 40px;
}

h1 {
    font-size: 40px;
    text-align: center;
    width: 700px;
    margin: auto;
    margin-bottom: 30px;
}

.greenreward p {
    text-align: center;
    width: 680px;
    margin: auto;
}

/* button */
.greenreward .signupbutton {
    background-color: #14772B;
    display: block;
    margin: auto;
    padding: 14px 40px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
}

.greenreward .signupbutton:hover {
    background-color: #45a049;
}

/* divider */
.divider {
    margin: 20px auto;
    border: none;
    border-top: 5px solid #14772B;
    width: 80%;
}

/* steps */
.desc {
    text-align: center;
    margin-bottom: 30px;
}

.desc p {
    margin: 5px 0;
}

/* rewards */
.rewards {
    padding-top: 30px;
    background-color: #91E1A3;
    padding-bottom: 30px;
}

.rewards h1 {
    font-size: 30px;
    text-align: center;
    width: 1000px;
    margin: auto;
}

.rewards p {
    text-align: center;
    width: 850px;
    margin: auto;
    padding-top: 50px;
}

.rewards .redeempagebutton {
    background-color: #14772B;
    display: block;
    margin: auto;
    padding: 14px 40px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    margin-top: -20px;
}

.redeempagebutton a {
    color: white;
    text-decoration: none;
}

.rewards .redeempagebutton:hover {
    background-color: #45a049;
}

/* products */
.rewards .product-item img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    display: block;
    margin: auto;
    border: 5px solid #14772B;
    border-radius: 15px;

}

.rewards .product-item h2 {
    margin-top: 30px;

}

.rewards .product-item .leaves {
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: -180px;
}

/* greenreward2 */
.greenreward2 {
    background-color: #14772B;
    padding-bottom: 30px;
}

.greenreward2 h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    width: 700px;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 30px;
}

.greenreward2 p {
    color: white;
    text-align: center;
    width: 680px;
    margin: auto;
}

/* button */
.greenreward2 .signupbutton {
    background-color: white;
    display: block;
    margin: auto;
    padding: 14px 40px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
}

.greenreward2 .signupbutton a {
    color: #14772B;
    text-decoration: none;
}

.greenreward2 .signupbutton:hover {
    background-color: lightgrey;
}

/* button */
.rewards .redeempagebutton {
    /* display: block;
    margin: auto; */
    padding: 14px 40px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
}

.qn {
    padding-top: 50px;
}

/* Responsive design for mobile devices */
@media (max-width: 960px) {
    .rewardbanner {
        height: 200px; /* Adjust height for better fit */
    }

    .rewardbanner img {
        height: 100%; /* Maintain the cover fit */
    }

    .greenreward h1,
    .stepsheader h1,
    .greenreward2 h1 {
        width: 90%;
        font-size: 3vw;
    }

    .rewards h1 {
        width: 90%;
        font-size: 3vw;
    }

    .greenreward p,
    .rewards p,
    .greenreward2 p {
        width: 90%;
        font-size: 2vw;
        margin-bottom: 20px;
    }

    .greenreward .signupbutton,
    .greenreward2 .signupbutton {
        font-size: 2vw;
        padding: 10px 20px;
        margin: 0 auto;
        display: block;
    }

    .rewards .redeempagebutton {
        font-size: 2vw;
        padding: 10px 20px;
        margin: 0 auto;
        display: block;
    }

    .desc p {
        margin-left: 10px;
    }

    .rewards h1 {
        font-size: 2.5vw;
        /* Adjust font size for smaller screens */
        width: 90%;
    }

    .rewards p,
    .greenreward2 .qn {
        font-size: 1.5vw;
        /* Adjust font size for smaller screens */
        width: 90%;
    }

    .rewards .product-item .leaves {
        margin-top: -20px;
        margin-bottom: 40px;
        margin-left: 20px;
    }

}

@media (max-width: 500px) {
    .rewardbanner {
        height: 150px; /* Adjust height for smaller screens */
    }

    .rewardbanner img {
        height: 100%; /* Maintain the cover fit */
    }

    .greenreward h1,
    .stepsheader h1,
    .greenreward2 h1 {
        width: 90%;
        font-size: 6vw;
    }

    .rewards h1 {
        width: 90%;
        font-size: 4vw;
    }

    .greenreward p,
    .rewards p,
    .greenreward2 p {
        width: 90%;
        font-size: 3vw;
    }

    .greenreward .signupbutton,
    .greenreward2 .signupbutton {
        font-size: 3vw;
        padding: 10px 20px;
        margin-left: 180px;
    }

    .rewards .redeempagebutton {
        font-size: 3vw;
        padding: 10px 20px;
        margin-left: 160px;
    }

    .desc p {
        margin-left: 10px;
    }

    .rewards p,
    .greenreward2 .qn {
        font-size: 2.5vw;
        /* Adjust font size for smaller screens */
        width: 90%;
    }

    .rewards .product-item img {
        width: 200px;
        height: 200px;
        max-width: 100%;
        display: block;
        margin: auto;
        border: 5px solid #14772B;
        border-radius: 15px;
        margin-left: 130px;

    }

    .rewards .product-item h2 {
        padding-left: 230px;
        font-size: 4vw;

    }

    .rewards .product-item .leaves {
        margin-top: -20px;
        margin-bottom: 30px;
        margin-left: 25px;
    }

}