/* id number */
.idnumber {
    margin-top: -10px;
    color: #14772B;
}

/* summary*/
.summarypage {
    margin-top: -30px;
    color: grey;
    margin-bottom: -100px;
}

/* detail */
.detail {
    text-align: center;
}

.detail h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    color: black;
}

.time {
    padding-left: 50px;
}

.extra {
    color: red;
    font-size: 15px;
}

/* button */
.backtohome {
    background-color: #14772B;
    display: block;
    margin: auto;
    padding: 14px 40px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    margin-bottom: 40px;
}

.backtohome a {
    color: white;
    text-decoration: none;
}

.backtohome:hover {
    background-color: #45a049;
}

/* Responsive design for mobile devices */
@media (max-width: 960px) {
    .collectionid h1,
    .idnumber {
        font-size: 4vw;
    }

    .detail-content h2 {
        font-size: 3vw;
    }

    .detail-content p {
        font-size: 2vw;
        padding-left: 20px;
    }

    .time {
        padding-left: 30px;
    }

    .detail-content .extra {
        font-size: 1.5vw;
    }

    .backtohome {
        font-size: 2.5vw;
        padding: 10px 20px;
    }
}

@media (max-width: 500px) {
    .collectionid h1,
    .idnumber {
        font-size: 5vw;
        margin-left: -110px;
    }

    .summarypage {
       text-wrap: wrap;
       width: 50%;
       font-size: 3vw;
       padding-left: 100px;
    }
    
    .detail-content h2 {
        font-size: 4vw;
        padding-right: 110px;
    }

    .detail-content p {
        font-size: 3vw;
        padding-right: 120px;
    }

    .time {
        padding-left: 30px;
    }

    .detail-content .extra {
        font-size: 2vw;
    }

    .backtohome {
        font-size: 4vw;
        margin-left: 160px;
        padding: 10px 20px;
    }

    .map-container {
        margin-left: -110px;
    }
}