.aspect-ratio-container {
    margin: 40px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.aspect-ratio-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}