.footer-container {
    background-color: #353535;
    padding: 20px;
}

.footer-container h6 {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 50px;
}

.footer-container .col {
    padding: 10px;
}

.footer-container .links {
    text-align: left;
    margin-left: 50px;
}

.col1 a, .col2 a, .col3 a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
}

.col1 a:hover, .col2 a:hover, .col3 a:hover {
    color: #91E1A3;
    text-decoration: underline;
}

.contact {
    font-size: 17px;
    color: white;
    text-align: left;
    margin-left: 50px;
}

.newsletter-form {
    margin-top: 20px;
    text-align: center;
}

.form-group {
    display: flex;
    margin: 0 auto;
    margin-left: 50px;
}

.newsletter-form input[type="email"] {
    padding: 6px;
    border: none;
    font-size: 17px;
    width: 250px;
    border: 2px solid black;
}

.newsletter-form button {
    padding: 6px 10px;
    color: white;
    background: black;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border: 2px solid black;
}

.newsletter-form button:hover {
    background: #14772B;
}

.social {
    padding-left: 40px;
    text-align: left;
}

.social img {
    width: 35px;
    margin-top: -10px;
    padding-left: 30px;
}

.social a {
    display: inline-block;
}

.copyright-text {
    background-color: #353535;
    padding: 10px 0;
    color: white;
    font-size: 10px;    
    text-align: left;
    margin-left: 50px;
}

@media (max-width: 1300px) {
    
    .form-group {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        margin: 0 auto;
        margin-left: 0; /* Reset left margin */
    }

    .newsletter-form {
        margin-right: -50px;
    }
}

@media (max-width: 960px) {
    .col2 {
        margin-left: -100px; /* Adjust this value to move col2 more to the left */
    }

    .col3 {
        margin-left: -100px; /* Adjust this value to move col3 more to the left */
    }

    .form-group {
        display: flex;
    }

    .social {
        padding-right: 180px; /* Remove any extra left padding */
    }
}

@media (max-width: 600px) {
    .col1 {
        margin-bottom: -50px;
    }

    .col2 {
        margin-bottom: -50px;
        margin-left: 0px;
    }

    .col3 {
        margin-left: 0px;
    }

    .form-group {
        display: flex;
    }

    .social {
        padding-right: 230px;
    }

    .form-group {
        flex-direction: row; /* Ensure items are side by side */
        flex-wrap: wrap; /* Allow wrapping if needed */
    }

    .newsletter-form input[type="email"] {
        width: calc(100% - 110px); /* Adjust width to accommodate button */
        max-width: 200px; /* Ensure the input doesn't get too wide */
        margin-left: 50px;
    }

    .newsletter-form button {
        width: 100px;
    }
}