/* Back to Staff page in AddStaff link */
.staffaccountslink{
    text-decoration: none;
    color: black;
    font-weight: normal;
    text-align: left;
    display: block;
    transition: all 0.3s;
}
.staffaccountslink:hover {
  color: grey;
  text-decoration: underline;
  opacity: 0.7;
}

/* Staff Account Profile Page */
.account-field {
    display: flex;
    font-weight: normal;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e0e0e0;
}
.account-field:last-child {
    border-bottom: none;
}
.account-details {
    font-weight: bold;
}

@media (max-width: 960px) {
    #staff-account-profile-box {
        margin-left: 0;
    }
    .searchbar {
        max-width: 200px;
    }
}
@media (min-width: 961px) {
    #staff-account-profile-box {
        margin-left: 250px;
    }
}