/* Base Styles */
.volunteerbanner {
  position: relative;
  width: 100%; 
  height: auto; 
  text-align: center;
  margin-bottom: 50px;
  overflow: hidden;
  max-width: 1520px; /* Ensures consistent max-width */
}

.volunteerbanner img {
  width: 100%;
  height: auto; 
  object-fit: cover;
}

.volunteer-form {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
  margin-bottom: 2px; 
  font-size: 16px; 
  width: 45%; 
  text-align: left; 
  font-weight: 600;
}

.form-input {
  width: 100%; 
  height: 40px;
  margin-bottom: 10px; 
  font-size: 16px;
  padding: 0 10px; 
  box-sizing: border-box; 
}

.input-error {
  border-color: #d32f2f; 
}

.dropdown-checkbox {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.dropdown-toggle {
  width: 100%;
  padding: 10px;
  background-color: #e8f5e9;
  color: #2e7d32;
  border: 1px solid #4caf50;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  z-index: 1;
}

.dropdown-item {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #2e7d32;
  background-color: #ffffff;
  box-sizing: border-box;
}

.dropdown-item:hover {
  background-color: #e8f5e9;
}

/* Checkbox and label styling */
.dropdown-item input[type="checkbox"] {
  margin-right: 20px;
  text-align: center;
  accent-color: #4caf50;
}

.dropdown-item label {
  margin: 0;
  cursor: pointer;
  flex-grow: 1;
}

.form-buttons {
  display: flex;
  justify-content: space-between; /* Space between buttons */
  margin-top: 20px;
}

.form-buttons button {
  width: 48%; /* Make buttons take up 48% of the container width */
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.form-buttons button:first-child {
  background-color: #4caf50; 
  color: white; 
}

.form-buttons button:last-child {
  background-color: #f44336; 
  color: white; 
}

.error {
  color: #d32f2f;
  font-size: 0.875em; 
  margin-top: 20px; 
}

.loading {
  font-size: 14px;
  color: #666;
}

.success-message {
  text-align: center;
  margin: 20px 0;
  color: green;
  font-weight: bold;
}

.availability-description {
  display: block;
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 0.9em;
  color: #666;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .volunteer-form {
    padding: 15px;
  }

  .form-label {
    font-size: 14px; /* Slightly smaller font size on smaller screens */
  }

  .form-input {
    font-size: 14px; /* Slightly smaller font size on smaller screens */
    padding: 0 8px; /* Adjust padding */
  }

  .dropdown-toggle {
    font-size: 14px; /* Slightly smaller font size on smaller screens */
  }

  .form-buttons {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
  }

  .form-buttons button {
    width: 100%; /* Full width for buttons */
    font-size: 14px; /* Slightly smaller font size on smaller screens */
    margin-bottom: 10px; /* Space between buttons */
  }

  .form-buttons button:last-child {
    margin-bottom: 0; /* Remove margin from the last button */
  }
}

@media (max-width: 500px) {
  .header {
    font-size: 7vw; /* Responsive font size */
  }

  .success-message,
  .error {
    font-size: 4vw; /* Responsive font size */
  }
}
